/* google fonts link */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.bg-header {
  background-color: #264653;
}

.btn-purchase {
  width: 168px;
  height: 44px;
}

.text-orange {
  color: #e76f51;
}
